<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>L-C</title>
</head>
<script src="{% static 'script.js' %}?version=2"></script>
<body>
    <div class="gtpmenu lineheight">
    <nav>
      <ul>
        <li><a href="/">Main</a></li>
        <li><a href="by_user">My Last Week</a></li>
        <li><a href="by_user_top">My Top Artists</a></li>
        <li><a href="similar">Similarity Check</a></li>
      </ul>
    </nav>
    </div>

    <h1>Last API Caller (Statistics)</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Send" >
    </form>
    <hr>
    <br>
    {% for o in artists %}
        <span class="fixwidth"> {{ o.artist }} </span> has <span class="fixwidth2">
        {{ o.listeners }} </span> listeners and <span class="fixwidth3">
        {{ o.scrobbles }} </span> scrobbles. Ratio= {{ o.ratio }} <br>
    {% endfor %}
    <br>
<button onclick="clearBase()">Clear</button><br>
</body>
</html>