{% extends "base.html" %}
{% block title %}<h1>Last API Caller (Statistics)</h1>{% endblock %}
{% block form %}
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Send" >
    </form>
{% endblock %}
{% block content %}
    {% for o in artists|dictsortreversed:"ratio" %}
    <div class="compare_row">
        {{ forloop.counter|stringformat:"03d"}}. <span class="fixwidth"> {{ o.artist }} </span> has <span class="fixwidth2">
        {{ o.listeners }} </span> listeners and <span class="fixwidth3">
        {{ o.scrobbles }} </span> scrobbles. Ratio= {{ o.ratio|floatformat:3|safe|rjust:15 }}
    </div>
    {% endfor %}
{% endblock %}
{% block content_clear %}
    <!--<button onclick="clearBase()">Clear</button><br>-->
{% endblock %}
