<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>L-C</title>
</head>
<script src="{% static 'script.js' %}?version=2"></script>
<body>
    <h1>Last API Caller (Statistics By Week)</h1>
    <hr>
    <br>
    {% for o in artists %}
    You scrobbled <span class="fixwidth">{{ o.artist }}</span> - <span class="fixwidth2">{{ o.scrobbles }}</span>
    times. <span class="fixwidth2">Listeners: {{ o.listeners }}</span>
    <br>
    {% endfor %}
    <br>
<a href="/">Main page</a><br>
<a href="similar">Similarity check</a>
</body>
</html>
