{% extends "base.html" %}
{% block title %}<h1>Last API Caller (Statistics By Period)</h1>{% endblock %}
{% block form %}
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        {{ form_user }}
        <input type="submit" value="Send" >
    </form>
{% endblock %}
{% block content %}
    For a period {{period_name}} (user = {{user_name}}):
    <br>
    {% for o in artists %}
    <div class="compare_row">
    {{ forloop.counter|stringformat:"02d"}}. You scrobbled <span class="fixwidth">{{ o.artist }}</span> - <span class="fixwidth2">{{ o.scrobbles }}</span>
    times. <span class="fixwidth">And total: {{ o.listeners }}</span> times.
    </div>
    {% endfor %}
{% endblock %}
